@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;
  overflow: hidden;
    flex: 0 0 auto;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}

@media all and ($desktop) {
  .backlinks {
    max-height: var(--backlinks-max-height, 30vh);
  }

  .backlinks>ul.overflow {
    max-height: min(calc(100% - 2rem),
        calc(var(--backlinks-max-height, 30vh) - 2rem));
  }
}